/* »»»»»»»»»»»»»»» Reset + Base ««««««««««««««« */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #222;
    background: #f6f7fb;    
}

/*  »»»»»»»»»»»»»»» Navbar ««««««««««««««« */
nav {
    position: fixed;
    background: #1e3a8a;
    display: flex;
    align-items: center;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 14px 8%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.logo img {
    height: 40px;
    display: block;
    transition: 0.3s;
}

nav .logo {
    width: 60px;
    transform: scale(1.5)translateX(-80px);
    transform-origin: left center;
}

.logo img:hover {
    transform: scale(1.05);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 10px;
    transition: 0.25s;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.278);
}

/* »»»»»»»»»»»»»»» Home Section ««««««««««««««« */
#home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg");
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    padding: 40px;
    position: relative;
    clip-path: ellipse(100% 100% at 50% 0%);
}

#home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

#home * {
    position: relative;
}

#home h2 {
    color: #ffffff;
    font-size: 40px;
    max-width: 900px;
    margin-bottom: 16px;
}

#home p {
    color: #e5e7eb;
    font-size: 18px;
    max-width: 700px;
    margin-bottom: 24px;
}

#home button {
    border: none;
    background-color: #3b82f6;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

#home button:hover {
    background-color: #2563eb;
    transform: translateY(-2px);
}

/* »»»»»»»»»»»»»»» Departments Section ««««««««««««««« */
#departments {
    padding: 100px 8% 80px;
    background: #f8fafc;
}


#departments h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    color: #111827;
}

.department-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: start;
}

.department-card {
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 18px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
    padding: 25px;
    transition: 0.9s;
}

.department-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.12);
    border-color: #3b82f6;
}

.department-card h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 12px;
    color: #111827;
}

.department-card p {
    font-size: 15px;
    text-align: center;
    color: #4b5563;
    margin-bottom: 18px;
    line-height: 1.6;
}

.department-card::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #3b82f6;
    margin: 0 auto 10px;
    border-radius: 2px;
}

.department-card ul {
    list-style: square;
    margin-top: 15px;
    padding-left: 20px;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    overflow: hidden;
    transition: 0.6s;
}

.department-card:hover ul {
    max-height: 300px;
    opacity: 1;
}

.department-card ul li {
    font-size: 15px;
    padding: 6px 0;
    margin-bottom: 6px;
    color: #374151;
}

/* »»»»»»»»»»»»»»» Services Section ««««««««««««««« */
#services {
    padding: 100px 8% 80px;
    background: #fff;
}

#services h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    color: #111827;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: start;
}

.service-card {
    background: #f8fafc;
    border: 1px solid #e5e7eb;
    border-radius: 18px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
    padding: 25px;
    transition: 0.9s;
}

.service-card h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    color: #111827;
}

.service-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.12);
    border-color: #3b82f6;
}

.service-card p {
    font-size: 15px;
    text-align: center;
    color: #4b5563;
    margin-bottom: 18px;
    line-height: 1.6;
}

/* »»»»»»»»»»»»»»» Tibs Section ««««««««««««««« */
#tips {
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 60px 10%;
}

#tips h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    color: #111827;
}

.tip-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.tip-card {
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 18px;
    padding: 28px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .06);
    transition: 0.9s;
}

.tip-card:hover {
    background-color: #3b82f6;
    transform: translateY(-6px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, .1);
}

.tip-card img {
    width: 42px;
    margin-bottom: 12px;
}

/* »»»»»»»»»»»»»»» Contact Footer ««««««««««««««« */
#Contact {
    background: linear-gradient(#f8fafc, #7690be);
    padding: 40px 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.footer-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-color: #3b82f6;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.contactme h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #111827;
}

.contactme p {
    margin: 10px 0;
    font-size: 16px;
}

.contactme a {
    color: #111827;
    text-decoration: none;
    transition: color 0.3s;
}

.contactme a:hover {
    color: #fff;
    text-decoration: underline;
}

.social-media {
    margin-top: 25px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
}

.social-media a:hover {
    transform: translateY(-6px);
}

.insta {
    width: 40px;
    height: 40px;
}

.face {
    width: 33px;
    height: 33px;
}

.linked {
    width: 29px;
    height: 29px;
}

.git {
    width: 32px;
    height: 32px;
}


/*  »»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»» Al Aqsa University ««««««««««««««««««««««««««««««««««««««««««««««««««
    »»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»» Computer Scinces «««««««««««««««««««««««««««««««««««««««««««««««««««
    »»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»» Instructor ---» Dr. Musbah J. Mousa «««««««««««««««««««««««««««««««««««««««««
    »»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»» Stusent Name ---» Ahmed M. Y. Al-Farani «««««««««««««««««««««««««««««««««««««««
    »»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»» Student No ---» 1320236338 «««««««««««««««««««««««««««««««««««««««««««««  */